{% extends '../base.html' %}
{% load static %}

{% block content %}

  <div class="column is-full is-mobile">
    <h1 class="title">Billing History</h1>
  </div>

  <div class="column is-full is-mobile">

    <table class="table is-fullwidth is-striped is-bordered ">

      <thead>

        <tr>
          <th>Date/Time</th>
          <th>Bill No.</th>
          <th>Bearer</th>
          <th>Qty (Ltr.)</th>
          <th>Item</th>
          <th>Price</th>
          <th>Total</th>
          <th>Entered By</th>
        </tr>

      </thead>

      <tbody>

        {% for h in page_obj %}

          <tr>
              <td data-column="Date/Time">{{h.time}}</td>  
              <td data-column="Bill No.">{{h.id}}</td>
              <td data-column="Bearer">{{h.name}}</td>
              <td data-column="Quantity">{{h.quantity}}</td>
              <td data-column="Item">{{ h.oil.name }}</td>
              <td data-column="Price">{{ h.price }}</td>
              <td data-column="Total">{{h.amount}}</td>
              <td data-column="Entered By">{{h.entered_by}}</td>

          </tr>

        {% endfor %}

      </tbody>

    </table>

    TOTAL SALES: {{ tot }}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
  </div>
{% endblock %}