{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'core.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'core.css' %}">
    <title></title>
  </head>
  <body>

    <nav class="navbar no-print" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href=" {% url 'billing_exec' %} ">
      <span class="title is-5">pumpkeen<span class="title is-5 has-text-danger">.</span></span>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{% url 'billing_exec' %}">
        Home
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" >
          Billing
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="{% url 'list_billing' %}">
            History
          </a>
        </div>
      </div>

      <a class="navbar-item" href="{% url 'billing_exec' %}">
        Coupon
      </a>

      <a class="navbar-item" href="{% url 'settings' %}">
        Settings
      </a>

    </div>
  </div>
</nav>

    <section class="section">
      <div class="container" >
        <div class="columns is-centered">
          <div class="column is-multiline is-full">

          {% block content %}
        		
          {% endblock %}

          </div>
        </div>
      </div>
    </section>

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', () => {

          // Get all "navbar-burger" elements
          const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

          // Check if there are any navbar burgers
          if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
              el.addEventListener('click', () => {

                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target);

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');

              });
            });
          }

        });
    </script>
  </body>
</html>
