<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <div>
        <h1> Model for billing </h1>
        {% for b in billings %}
        <span>
          {{ b.id }} | {{ b.name }} | {{ b.oil.name }} | {{ b.quantity }} | {{ b.get_total }}
          </span>
          <hr / >
          <br />
        {% endfor %}
    </div>

    <div>
      <h1> Model for billing History </h1>
      {% for b in history %}
      <span>
          Bill number: {{ b.id }} | {{ b.name }} | {{ b.oil.name }} | {{ b.quantity }} | {{ b.total }}
        </span>
        <hr / >
        <br />
      {% endfor %}
  </div>

    <form action="" method="post">
       {% csrf_token %}
       <table>
       {{ form.as_table }}
       </table>
       <input type="submit" value="Submit">
   </form>

  </body>
</html>
